*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 /*stile dei contenitori*/

.game_page{
    width: 100vw;
    height: 100vh;
    background-color: #94d1b8;
    display: flex;
    align-items: center;
}

.container{
    width: 800px;
    height: 700px;
    border: solid #24252b;
    border-radius: 5px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.campo {
    width: 604px;
    height: 604px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    border: solid #24252b 2px;

}

.hidden {
    display: none;
}

.show_element {
    display: flex;
}

/*quadrati di gioco*/

.square {
    width: calc(600px / 10);
    border: solid #24252b 0.1px;
    background-color: #d5b79f;
    /*color: #d5b79f;*/
    cursor: pointer;
    text-align: center;

}



/* assegnazione style agli elementi di testo*/

.title > h1{
    font-family: "Rubik Bubbles", system-ui;
    display: inline-block;
    text-align: center;
    margin: 20px 15px 0;
    /*color:#24252b;*/
}

.title .fa-solid {
    font-size: 25px;
    color:#24252b;
}
.intro_play {
    width: 90%;
    margin-top: 20px;
    font-family: sans-serif;
    line-height: 25px;
    position: relative;
}
h4 {
   margin: 20px 0 8px;
}

ul > li {
   list-style-position: inside;
}

button {
    margin: 350px auto 0;
    width: 400px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 0;
    font-size: 20px;
    background-color: #24252b;
    color: whitesmoke;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.sky_blu {
    background-color: #a2cffe;
}